<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <link href="~/Contents/Styles/Library/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Contents/Styles/Library/signin.css" rel="stylesheet" />
</head>
<body class="text-center">
    @RenderBody()
</body>
</html>
