<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <link href="~/Contents/Styles/Library/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Contents/Styles/Library/signin.css" rel="stylesheet" />
</head>
<body class="text-center">
    <header>
        <nav class="navbar navbar-light bg-light ">
            <a class="navbar-brand" href="@Url.Action("Index","Home")">
                <img src="/Contents/Images/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                DevCommerce
            </a>
        </nav>
    </header>
    @RenderBody()
</body>
</html>
