body {
    background-color: #f8f9fa !important;
}

:root {
    --jumbotron-padding-y: 3rem;
}

main {
    min-height: 500px;
}

.no-padding {
    padding: 0px;
}

.page-footer {
    background-color: #666 !important;
    color: #fff;
}

    .page-footer p a {
        color: #fff;
    }

nav .promo {
    width: 100%;
}

.category-list {
    background-color: #fff !important;
    margin-bottom: 20px;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}

    .jumbotron p:last-child {
        margin-bottom: 0;
    }

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    background-image: none;
}

    .carousel-control-next-icon:after {
        content: '>';
        font-size: 55px;
        color: blue;
    }

    .carousel-control-prev-icon:after {
        content: '<';
        font-size: 55px;
        color: blue;
    }

.dropdown-button {
    width: 150px;
}

    .dropdown-button .dropdown-button-sub-title {
        font-size: 10px;
        float: right;
        position: relative;
        padding-right: 33%;
    }

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

    footer p {
        margin-bottom: .25rem;
    }

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    min-height: 450px;
}

.breadcrumb {
    background-color: #ffffff;
    border-bottom: 3px solid #f8f9fa;
}

.loading-overlay {
    background-color: rgba(0,0,0,0.2);
}

.loading {
    font-weight: bold;
    font-size: 16px;
    font-family: sans-serif;
    margin-top: 30%;
    margin-left: 35%;
    z-index: 999999;
    display: block;
    position: fixed;
    background-color: #fff;
    width: 30%;
    height: 70px;
    padding: 5px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 4px;
}

    .loading img {
        margin-left: 20px;
    }

.product-detail {
    margin-top: 20px;
}

    .product-detail .product-images {
        float: left;
    }


    .product-detail .detail {
        float: left;
    }

.detail {
    width: 45%;
}

    .detail div {
        margin-bottom: 10px;
    }

    .detail .product-name {
        font-size: 16px;
        font-weight: bold;
    }

    .detail .brand {
        color: purple;
    }

    .detail .description {
        color: #090;
    }

    .detail .price-detail .price {
        float: left;
        display: grid;
    }

    .detail .price-detail .discount {
        float: left;
        display: grid;
    }

    .detail .price-detail .price .old {
        color: #9e9e9e;
        text-decoration: line-through;
        font-weight: 400;
    }

    .detail .price-detail .price .new {
        font-size: 19px;
        color: #484848;
    }

    .detail .price-detail .price .extra-discount {
        font-size: 32px;
        color: #484848;
    }

    .detail .price-detail .discount .normal {
        background-color: #f90909;
        color: #FFF;
        width: 70px;
        text-align: center;
        margin-bottom: 10px;
        border: 1px solid #f90909;
        border-radius: 3px;
    }

    .detail .price-detail .discount .extra {
        background-color: #393;
        color: #FFF;
        width: 70px;
        text-align: center;
        border: 1px solid #393;
        border-radius: 3px;
    }

.add-basket-area {
    float: left;
    margin-top: 20px;
}

    .add-basket-area .input-group {
    }

        .add-basket-area .input-group .btn-down {
            padding-top: 10px;
            margin-right: 2px;
        }

        .add-basket-area .input-group .btn-up {
            padding-top: 10px;
            margin-left: 2px;
        }

        .add-basket-area .input-group .input-number {
            height: 40px;
            margin-top: 9px;
            width: 40%;
            text-align: center;
            flex: unset;
            border-radius: 4px;
        }

.numberCircle {
    float: right;
    border-radius: 50%;
    behavior: url(PIE.htc);
    width: 25px;
    height: 25px;
    padding: 0px;
    background: #fff;
    color: #6c757d;
    text-align: center;
    font: 14px Arial, sans-serif;
    padding-top: 2px;
    margin-top: -10px;
    margin-left: -5px;
    border: 3px solid #6c757d;
    font-weight: 600;
}

.navbar .row {
    margin-right: 20px;
}

    .navbar .row .dropdown {
        margin-right: 5px;
    }

.dropdown .dropdown-toggle {
    height: 50px;
}

.product-list {
    margin-top: 20px;
}


/*Extra small devices (portrait phones, less than 576px)*/
/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
    .loading {
        margin-top: 90%;
        margin-left: 5%;
        width: 90%;
        padding: 5px;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
